.product-list {
    padding: 20px;
    margin: auto;
    width: 89%;
}
  
.results-count {
    margin-top: 10px;
    text-align: left;
}

.product-list-content {
    background: white;
    padding: 26px;
    overflow-x: scroll;
    margin-top: 19px;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-list-controlers {
    background: white;
    padding: 26px;
    display: flex;
    justify-content: space-between;
}

.flex-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    margin-top: -13px;
}

.actions {
    cursor: pointer;
}