table {
  width: 100%;
  border-collapse: collapse;
}
  
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
}
  
th {
  background-color: #f4f6f9;
}
  
.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-product-img {
    height: 100px;
 }


.container-product-img {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    border-radius: 60px;
    width: 40px;
    overflow: hidden;
    padding: 5px;
    margin: auto; 
}


th {
    height: 42px;
}


td {
    height: 10px;
}


.p-no-products {
  text-align: center;
}

.logo-th {
  text-align: center;
}

svg.info-icon {
  font-size: 13px;
  color: grey;
  margin-left: 5px;
}

.th-flex {
  display: flex;
  align-items: center;
}

.contextual-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  right: 30px;
}

.contextual-menu-item {
  padding: 10px;
  cursor: pointer;
}

.contextual-menu-item:hover {
  background-color: #f0f0f0;
}
